/* Base styling */

:root {
    --primary-accent: rgb(3, 89, 86);
    --secondary-accent: rgb(165, 240, 197);
}

.btn-primary {
    background-color: var(--primary-accent);
    color: var(--secondary-accent);
    border: 0;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}
.btn-primary:hover {
    background-color: var(--secondary-accent);
    color: var(--primary-accent);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0px;
}
.btn-primary:focus {
    background-color: var(--secondary-accent);
    color: var(--primary-accent);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px !important;
}
.btn-secondary {
    background-color: var(--secondary-accent);
    color: var(--primary-accent);
    border: 0;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}
.btn-secondary:hover {
    background-color: var(--primary-accent);
    color: var(--secondary-accent);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0px;
}
.btn-secondary:focus {
    background-color: var(--primary-accent);
    color: var(--secondary-accent);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px !important;
}

/* Specific styling */

body {
    display: grid;
    grid-template-rows: minmax(4.4rem, auto) minmax(0, 1fr);
}

/* Navbar ---------------------------------------------------------- */


#quiz-title{
    border-radius: 0.375rem;
    border: 0;
    padding: 5px 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}
#logo {
    background-color: var(--secondary-accent);
    color: var(--primary-accent);
    padding: 10px 20px 10px;
}
#autosave{
    color: var(--secondary-accent);
    font-weight: bold;
}


nav.navbar {
    padding: 1rem;
    background-color: rgb(0, 145, 124);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    font-size: large;
    gap: 1rem;
}

nav.navbar *{
    vertical-align: baseline;
    font-size: inherit !important;
}

#left-navbar > * {
    margin-right: 0.25rem;
}

main {
    display: grid;
    grid-template-columns: clamp(100px, 10%, 170px) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    max-height: 100%;
    min-height: 0;
}

/* Questions overview ---------------------------------------------------- */

#questions-overview-wrapper  {
    min-height: 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
}

#questions-overview {
    min-height: 0;
    height: min-content;
    max-height: 100%;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(60px, auto);
    grid-template-columns: minmax(0, 1fr);
    padding: 0.5rem 5%;
}

#previews {
    min-height: 0;
    height: min-content;
    max-height: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    border-radius: 0.25rem;
}

.question-preview {
    position: relative;
    text-align: center;
    height: 75px;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 2px solid lightgrey;
    border-radius: 0.25rem;
    background: var(--bg-img) center center / cover no-repeat;
    overflow-wrap: break-word;
    overflow: hidden;
}

.question-preview.selected {
    border: 2px solid var(--primary-accent);
}

.question-preview:first-child{
    margin-top: 0;
}

.question-preview:last-child {
    margin-bottom: 0;
}

.question-preview span {
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    display: -webkit-box;
    line-height: 1.2;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.question-preview:hover {
    border: 2px solid grey;
    cursor: pointer;
}

/*https://www.flaticon.com/free-icons/trash" Trash icons created by Freepik - Flaticon*/
.question-preview:hover:not(:only-child)::after {
    content: "";
    background: white url("/img/bin.png") center center / 80% no-repeat;
    display: block;
    width: 1.5rem;
    height: 1.65rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    border-radius: 5px;
    border: 1px solid grey;
}

.question-preview:hover span {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.8);
}

#sidebar-actions {
    min-width: 0;
    max-width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 0.5rem;
}

/* Current question ----------------------------------------------------------- */

#current-question {
    display: grid;
    background: rgb(242, 242, 242) var(--bg-img) center center / cover no-repeat;
    padding: 1.375rem;
    grid-template-rows: 1fr minmax(auto, 8fr) minmax(auto,3fr);
    gap: 1rem;
}

#current-question > input[name=title] {
    text-align: center;
    font-size: clamp(1rem, 3.2vmin, 3rem);
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0.25rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -4px 0px 0px inset;
}

#middle-part {
    position: relative;
    width: 100%;
    min-height: 0;
    height: 100%;
    max-height: calc(100%);
}

#middle-button-group {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    padding: 0.5rem 0;
    flex-direction: column;
}

#select-question-type {
    display: flex;
    justify-content: space-around;
    gap: 0.75rem;
    align-items: center;
    flex-direction: column;
}

#select-question-type > button {
    width: 3rem;
    height: 3rem;
    border: thin solid lightgrey;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color: white;
}

#select-question-type > button:hover {
    border: thin solid grey;
}

#select-single-choice {
    background-image: url("/img/quiz-icon.png");
}

#select-true-false {
    background-image: url("/img/bool-icon.png");
}

/*"https://www.flaticon.com/free-icons/clock" - Clock icons created by Ilham Fitrotul Hayat - Flaticon*/
#middle-button-group > label {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 3rem;
    border: thin solid lightgrey;
    border-radius: 50% / 25%;
    padding: 7.5%;
    padding-bottom: 10%;
}

#middle-button-group > label > img {
    width: calc(85% + 3px);
    height: auto;
    opacity: 0.75;
    margin-bottom: 10%;
}

#select-duration {
    width: 85%;
    border: medium solid #414141;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    -moz-appearance: textfield;
}

/* https://www.w3schools.am/howto/howto_css_hide_arrow_number.html#gsc.tab=0 */
#select-duration::-webkit-outer-spin-button,
#select-duration::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#question-media {
    margin: 0 auto;
    width: clamp(50vw, 60%, 800px);
    height: 100%;
    display: block;
    /* Creates the milky glas effect */
    background-color: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(12px);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
}

#question-media img {
    max-height: 100%;
    max-width: 100%;
}

#question-media img:not([src=""]) ~ p {
    display: none;
}

#question-media input {
    display: none;
}

#question-media > div {
    width: fit-content;
    height: 100%;
    margin: auto;
    color: grey;
}

#answers {
    width: 100%;
    flex: 0 0 4em;
    height: 4em;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 1rem;
    font-size: 1.5rem;
    place-items: center;
}

#answers.true-false {
    grid-column: 1fr 1fr;
}

#answers.true-false div {
    display: none;
}

#answers > * {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -0.25rem 0px 0px inset;
    padding: 1rem;
}

#answers div input[type="checkbox"] {
    width: 0.85em;
    height: 0.85em;
    border-radius: 50%;
}

#answers div input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: calc(100% - 1.2em);
}

#answers div input::placeholder {
    opacity: 0.8;
}

#answer1 {
    background-color: var(--answer1-color);
}

#answer2 {
    background-color: var(--answer2-color);
}

#answer3 {
    background-color: var(--answer3-color);
}

#answer4 {
    background-color: var(--answer4-color);
}

.true-false-answer {
    display: none;
    color: white;
    place-self: center;
}

.true-false-answer input[type="radio"] {
    width: 0.85em;
    height: 0.85em;
}

#answers.true-false .true-false-answer {
    display: block;
}

.true-false-answer:nth-child(5) {
    background-color: var(--answer2-color);
}

.true-false-answer:nth-child(6) {
    background-color: var(--answer1-color);
}