.btn-primary {
    background-color: rgb(3, 89, 86);
    color: rgb(165, 240, 197);
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px 0px;
    height: 45px;

}
.btn-primary:hover {
    background-color: rgb(165, 240, 197);
    color: rgb(3, 89, 86);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0px;
}
.btn-primary:disabled {
    background-color: rgb(26, 122, 117);
    color: rgba(165, 240, 197, 0.5);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px 0px;
}
body {
    background-image: url(/img/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.invalid-feedback {
    margin-bottom: 10px;
    background-color: #ff615cff;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 5px 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(165, 240, 197, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 10px 20px 5px;

}
#container {
    width: 330px;
}

#container h1 {
    margin: 50px;
    color: rgb(2, 60, 59);
    font-weight: bold;

}

form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

input {
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0;
    padding: 5px 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    height: 40px;


}
