html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#container {
    height: 100%;
    display: flex;
}

#login-card {
    font-size: 2rem;
    margin: auto;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: rgba(1, 1, 79, 0.441);

    border-radius: 1rem;
}

#login-form {
    margin: 30px;
}