html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

:root {
    --answer1-color: rgb(226, 27, 60);
    --answer2-color: rgb(19, 104, 206);
    --answer3-color: rgb(199, 146, 0);
    --answer4-color: rgb(38, 137, 12);

    --bs-body-font-family: "NexusSans", Arial, Helvetica, sans-serif
}